.card-container{
    width: 30%;
  margin-bottom: 20px; 
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
iframe{
    width: 100%;
  height: 150px; /* Set your desired height */
  border: none;
}
.collegename{
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}
.card-details{
    padding-left: 0.7rem;
}
.aicteid, .zipcode, .type, .collegelocation{
    padding: 0.5rem;
}