*{
  margin: 0;
  padding: 0;
}
.main-nav1{
    width: 100%;
    height: 6rem;
    display: grid;
    background-color: #FF671F;
    grid-template-columns: 3rem 3fr 1fr;
}
.logo1{
    margin-left: 1rem;
    display: grid;
    /* background-color: blue; */
    grid-column: 1/2;
    justify-content: start;
    align-items: center;
}
.searchcollegebcgk{
  width: 100%;
  height: 37.5rem;
  opacity: 70%;
}
.menu-link1{
    grid-column: 3/4;
}
.menu-link1 ul{
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.firstsec h1{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black; /* Change the text color to your preference */
    font-size: 3.5rem; /* Change the font size to your preference */
    font-weight: bold; /* Add any other styling as needed */
  }
  /* SearchBar.css */
.search-bar {
    /* display: flex;
    margin-bottom: 20px;
     Adjust spacing as needed */
     border-color: white;
     color: white;
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70rem;
    /* border-radius: 50px; */
  }
  
input {
    position: absolute;
    width: 80%;
    left: 9%;
    height: 3.3rem;
    padding: 12px;
    font-size: 1.5rem;
    border-color: white;
    border-radius: 50px;
  }
.searchbutton{
    position: absolute;
    top: 70%;
    left: 45%;
    font-size: 1.3rem;
    width: 10rem;
    height: 3rem;
    padding: 8px 12px;
    background-color: #005AAA; /* Change the button color to your preference */
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 50px; /* Set the border radius to 50px */
  }
h3{
        color: #005AAA; /* Change the text color to your preference */
        font-size: 3rem; /* Change the font size to your preference */
        margin: 2rem;
}
.multiplecards{
  display: flex;
  justify-content: space-between; /* Adjust as needed */
  flex-wrap: wrap;
  margin: 4rem;
}